.button {

	background-color: $orange;
	padding: 10px 20px;
	outline: none;
	border: none;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	border-radius: 3px;
	cursor: pointer;

	@include transition();

	&:hover {

		background-color: $dark-orange;

		@include box-shadow();

	}

}