.header {

	color: #fff;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 999;

	@include transition();

	&.scroll {

		padding: 5px 0;

		.logo {
			
			padding-top: 5px;
			width: 160px;

		}

		.nav {
		  padding-top: 0;
		}

	}
	
	@include theme-gradient();

	&-nav {
		display: flex;
		justify-content: space-between;
	}

}

.logo {

	width: 250px;

	@include transition();

	img {
		width: 100%;
	}

}

.nav {

  padding-top: 4px;

	ul {
		
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: space-around;

		li {

			padding: 15px;

			&.active {
				a {
					&:after { 
						width: 100%;
					}
				}
			}

			&:last-child {
				padding-right: 0;
			}

			a {

				color: #fff;
				position: relative;

				&:after {
					content: '';
					background-color: #fff;
					width: 0;
					height: 1px;
					left: 0;
					bottom: -4px;
					position: absolute;
					transition-duration: 0.3s;
				}

				&:hover, &.active {
					&:after { 
						width: 100%;
					}
				}

			}

		}

	}

}