.stage {

	display: flex;
	justify-content: space-between;
	padding: 50px 0;

	&__name {
		
		font-size: 22px;
		font-weight: 400;

	}

	.stage__icon {

		width: 40%;
		text-align: center;

		img {
			width: 170px;
		}

	}

	.stage__description {

		width: 60%;

		.stage__content {
			padding-top: 10px;
			font-size: 14px;

			&--heading {
				font-size: 16px;
				font-weight: 400;
			}

			&--text {
				margin-bottom: 10px;
			}
		}

	}

}

.down-arrow {

		text-align: center;

		img {
			width: 30px;
		}

	}