.role-table {

	width: 90%;
  margin: 50px auto;
	border-collapse: collapse;

  tr {

  	td {
  		font-size: 15px;
	  	padding: 15px 0;
	  	vertical-align: top;

	  	.heading {
	  		font-size: 16px;
	  		font-weight: 400;
	  	}

	  	p {
	  		margin: 10px 0;
	  	}
  	}

		td:first-child {

			width: 45%;
			font-weight: 400;
			border-right: 1px solid $light-orange;
			font-size: 16px;
			text-align: right;
			padding-right: 30px !important;

			p {
				background-color: #fff;
			}

		}

		td:last-child {

			padding-left: 30px !important;

		}

  }

}